<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">

    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>TTGate Admin Panel v2.0</title>

    <link href="css/main.css" rel="stylesheet">

    <link href="css/jquery-ui-1.12.1.css" rel="stylesheet">

    <!-- DATE TIME PICKER   -->
    <link href="css/daterangepicker.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/morris.css" rel="stylesheet">




</head>

<body onload="getCounters(); getErrors(); getOperationsPerMinute(); setIntervals(10000)">

<div id="alert_dialog" class="alert_dialog" style="display:none;">
    <div class="fog"></div>
    <div class="alert_body">
        <div style="text-align: right"><span class="fa fa-warning fa-2x alert_icon"></span></div>
        <hr>
        <span class="alert_text"></span>
        <hr>
        <div style="text-align: center"><button id="alert_ok_btn" class="btn btn-success alert_btn">ОК</button></span></div>
    </div>
</div>

<div id="confirm_dialog" class="alert_dialog" style="display:none;">
    <div class="fog"></div>
    <div class="alert_body">
        <div style="text-align: right"><span class="fa fa-question fa-2x alert_icon"></span></div>
        <hr>
        <span class="alert_text"></span>
        <hr>
        <div style="text-align: center">
            <button id="confirm_ok_btn" class="btn btn-success alert_btn" th:text="#{yes}">Да</button>
            <button id="confirm_cancel_btn" class="btn btn-success alert_btn" th:text="#{no}">Нет</button>
        </div>
    </div>
</div>

<div id="list" class="list" style="display:none;">
    <div class="fog"></div>
    <div class="list_body">
        <div style="text-align: right"><span class="fa fa-list fa-2x alert_icon"></span></div>
        <hr>
        <div class="list_text" style="max-height: 300px; overflow-y: auto"></div>
        <hr>
        <div style="text-align: center"><button id="list_ok_btn" class="btn btn-success alert_btn">ОК</button></span></div>
    </div>
</div>




<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">TT.Gate Admin Panel v2.0</a>

            <img src="img/clock_loader2.gif" id="loader" width="40px" height="40px" style="display: none; margin-top: 5px">
        </div>

        <!-- TOP LEFT LINKS -->
<!--        <div style="text-align: right; padding:15px 15px;font-size:18px;">-->
<!--            <form action="/logout" method="post">-->
<!--                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
<!--                <button type="submit" class="btn-link"><span class="fa fa-user fa-fw"></span> Выйти</button>-->
<!--            </form>-->
<!--        </div>-->




        <ul class="nav navbar-top-links navbar-right" style="font-size:18px; margin-top: 10px">
            <li class="dropdown">
                <span class="fa fa-user fa-fw"></span> <span sec:authentication="name"> </span>

            </li>
            <li class="dropdown">
                <form action="/logout" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <button type="submit" class="btn-link"><span class="fa fa-sign-out fa-fw"></span><span th:text="#{button.exit}"></span></button>
                </form>
            </li>

            <li class="dropdown">
                <form action="/" method="get">
                    <input type="hidden" name="locale" value="ru">
                    <button type="submit" class="btn-link"><img src="img/ru.png"/></button>

                </form>
            </li>
            <li class="dropdown">
                <form action="/" method="get">
                    <input type="hidden" name="locale" value="tm">
                    <button type="submit" class="btn-link"><img src="img/tm.png"/></button>
                </form>
            </li>

        </ul>
        <!-- TOP LEFT LINKS -->

        <div sec:authorize="hasAuthority('OPERATOR')" class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">

                    <li sec:authorize="hasAuthority('OPERATOR')">
                        <a onclick="getMainPanel()" class="dashboard_link"><i class="fa fa-dashboard fa-fw" style="margin-right: 10px"></i><span th:text="#{menu-item.monitor}">Панель мониторинга</span></a>
                    </li>
                    <li sec:authorize="hasAuthority('ADMIN')">
                        <a onclick="getOrgGroupPanel()" class="dashboard_link"><i class="fa fa-cubes fa-fw" style="margin-right: 10px"></i><span th:text="#{menu-item.groups}">Группы</span></a>
                    </li>
                    <li sec:authorize="hasAuthority('ADMIN')">
                        <a onclick="getOrgPanel()" class="dashboard_link"><i class="fa fa-institution fa-fw" style="margin-right: 10px"></i><span th:text="#{menu-item.organizations}">Организации</span></a>
                    </li>
                    <li sec:authorize="hasAuthority('ADMIN')">
                        <a onclick="getTerminalPanel()" class="dashboard_link"><i class="fa fa-tablet fa-fw" style="margin-right: 10px"></i><span th:text="#{menu-item.terminals}">Терминалы</span></a>
                    </li>
                    <li>
                        <a onclick="getOperationPanel()" class="dashboard_link"><i class="fa fa-list fa-fw" style="margin-right: 10px"></i><span th:text="#{menu-item.operations}">Операции</span></a>
                    </li>

                    <li sec:authorize="hasAuthority('ADMIN')">
                        <a onclick="getChartPanel()" class="dashboard_link"><i class="fa fa-bar-chart-o fa-fw" style="margin-right: 10px"></i><span th:text="#{menu-item.charts}">Графики</span></a>
                    </li>

                    <li sec:authorize="hasAuthority('ADMIN')">
                        <a onclick="getUserPanel()" class="dashboard_link"><i class="fa fa-users fa-fw" style="margin-right: 10px"></i><span th:text="#{menu-item.users}">Пользователи</span></a>
                    </li>


                </ul>
            </div>

        </div>

    </nav>

    <div id="page-wrapper" th:style="${user.roles.size() == 1} ? 'margin : 0px'">
        <div id="contents" sec:authorize="hasAuthority('OPERATOR')" th:replace="blocks/main_panel_block :: main_panel_block"></div>



    </div>



    <footer class="footer navbar-fixed-bottom py-3">
        <div class="container-fluid" style="text-align: right">
            TT.Gate Admin Panel &copy Turkmen Tranzit
        </div>
    </footer>

</div>

<!-- /#wrapper -->



<!-- jQuery -->

<script src="js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap/bootstrap.min.js"></script>


<script src="js/main_func.js"></script>
<script src="js/org_group_func.js"></script>
<script src="js/org_func.js"></script>
<script src="js/terminal_func.js"></script>
<script src="js/operation_func.js"></script>
<script src="js/chart_func.js"></script>
<script src="js/user_func.js"></script>


<script src="js/datepicker/jquery-ui-1.12.1.js"></script>

<script src="js/datepicker/moment.min.js"></script>
<script src="js/datepicker/daterangepicker.min.js"></script>



<script src="js/chart.min.js"></script>


<script>


    function alert(alert_text) {

        $("#alert_dialog").show();

        $(".alert_text").text(alert_text);

        var alert_height = $(document).height();
        $(".fog").css('height', alert_height);

    }

    $("#alert_ok_btn").click(function(){
        $("#alert_dialog").hide();
    });



        const ui = {
            confirm: async (message) => createConfirm(message)
        };

        const createConfirm = (message) => {
            return new Promise((complete)=>{
                $('.alert_text').text(message)

                $('#confirm_ok_btn').off('click');
                $('#confirm_cancel_btn').off('click');

                $('#confirm_ok_btn').on('click', ()=> { $('#confirm_dialog').hide(); complete(true); });
                $('#confirm_cancel_btn').on('click', ()=> { $('#confirm_dialog').hide(); complete(false); });

                $('#confirm_dialog').show();
            });
        };



</script>


<script>

    $(document).ready(function() {
        $("#list_ok_btn").click(function(){
            $("#list_text").html("");
            $("#list").hide();
        });
    });

</script>

<script>


    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");
    $(document).ajaxSend(function(e,xhr) {
        xhr.setRequestHeader(header, token);
    });
</script>

<script th:if="${user.roles.size() == 1}">

    $(document).ready(function () {

        getOperationPanel();

    })

</script>


<script th:inline="javascript">
    let confirm_orgGroupDelete = [[#{confirm.orgGroupDelete}]];
    let confirm_orgDelete = [[#{confirm.orgDelete}]];
    let confirm_terminalDelete = [[#{confirm.terminalDelete}]];
    let confirm_userDelete = [[#{confirm.userDelete}]];

    let alert_orgGroupDelete = [[#{alert.orgGroupDelete}]];
    let alert_orgGroupNameEnter = [[#{alert.orgGroupNameEnter}]];
    let alert_orgNameEnter = [[#{alert.orgNameEnter}]];
    let alert_terminalTIDEnter = [[#{alert.terminalTIDEnter}]];
    let alert_userNameEnter = [[#{alert.userNameEnter}]];
    let alert_userFieldsEnter = [[#{alert.userFieldsEnter}]];
    let alert_orgDelete = [[#{alert.orgDelete}]];
    let alert_orgGroupExist = [[#{alert.orgGroupExist}]];
    let alert_orgExist = [[#{alert.orgExist}]];
    let alert_terminalExist = [[#{alert.terminalExist}]];
    let alert_userExist = [[#{alert.userExist}]];

    let button_enable = [[#{button.enable}]];
    let button_disable = [[#{button.disable}]];

</script>



</body>

</html>
