<div xmlns:th="http://www.thymeleaf.org">


    <!-- PAGE TITLE -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" id="page-header">Графики</h1>
        </div>
    </div>


    <div class="row col-lg-12 col-md-12" style="margin-bottom: 20px">
        <form class="form-inline">

<!--            <button type="button" class="btn btn-success" onclick="operationsFormReset()">сброс</button>-->
            <div class="btn-group" role="group" style="margin-right: 20px">
                <button type="button" class="btn btn-warning" id="org_btn" onclick="chartOrgGroupSelect(1)">ОРГ</button>
                <button type="button" class="btn btn-default" id="org_group_btn" onclick="chartOrgGroupSelect(2)">ГР</button>
            </div>

            <input type="text" class="form-control" size="50" style="margin-right: 20px;" placeholder="поиск орг..." id="org_name">
            <input type="hidden" value="0" id="org_id">

            <input type="hidden" class="form-control" size="50" style="margin-right: 20px;" placeholder="поиск гр..." id="org_group_name">
            <input type="hidden" value="0" id="org_group_id">

            <input type="text" id="daterange" class="form-control link" size="25" style="margin-right: 20px" placeholder="укажите диапазон">

            <div class="btn-group" role="group" style="margin-right: 20px">
                <button type="button" class="btn btn-warning" id="month" onclick="chartTypeSelect(1)">месяцы</button>
                <button type="button" class="btn btn-default" id="day" onclick="chartTypeSelect(2)">дни</button>
                <button type="button" class="btn btn-default" id="hour" onclick="chartTypeSelect(3)">часы</button>
            </div>
            <input type="hidden" value="1" id="chartType">

            <button type="button" class="btn btn-success" onclick="getChart2()">показать</button>

        </form>
    </div>




    <!-- DATE RANGE HANDLER    -->

    <script type="text/javascript">
        $(function() {

            var start = moment().subtract(0, 'days');
            var end = moment();

            moment.updateLocale('en', {
                longDateFormat : {
                    L: "YYYY-MM-DD"
                }
            });

            function cb(start, end) {
                $('#daterange').html(start.format('YYYY-MM-DD') + '  -  ' + end.format('YYYY-MM-DD'));
            }

            $('#daterange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Сегодня': [moment(), moment()],
                    'Вчера': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Последние 7 дней': [moment().subtract(6, 'days'), moment()],
                    'Последние 30 дней': [moment().subtract(29, 'days'), moment()],
                    'Текущий месяц': [moment().startOf('month'), moment().endOf('month')],
                    'Прошедший месяц': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                locale: {
                    daysOfWeek : [
                        "Вс",
                        "Пн",
                        "Вт",
                        "Ср",
                        "Чт",
                        "Пт",
                        "Сб"
                    ],
                    monthNames : [
                        "Январь",
                        "Февраль",
                        "Март",
                        "Апрель",
                        "Май",
                        "Июнь",
                        "Июль",
                        "Август",
                        "Сентябрь",
                        "Октябрь",
                        "Ноябрь",
                        "Декабрь"
                    ]
                },
            }, cb);

            cb(start, end);

        });
    </script>



    <!-- CONTENTS -->
    <div class="row col-lg-12" id="contents">

        <!-- CHART BLOCK -->
        <div id="chartContainer" style="width: 95%;"></div>

    </div>


    <script>

        $(document).ready(function() {
            $("#org_name").blur(function() {
                if($("#org_name").val().length === 0){
                    $("#org_id").val("0");

                }
                //alert($("#org_name").val().length);
            });

            $("#org_group_name").blur(function() {
                if($("#org_group_name").val().length === 0){
                    $("#org_group_id").val("0");

                }
                //alert($("#org_name").val().length);
            });
        });
    </script>

    <script>

        $(document).ready(function () {
            var resultData;
            $('#org_name').autocomplete({

                source: function (query, result) {
                    $("#loader").show();
                    $.ajax({
                        url: "/org-autocomplete?query=" + query.term + "&orgGroupId=" + $('#org_group_id').val(),
                        dataType: "json",
                        type: "GET",
                        success: function (data) {
                            resultData = data;
                            result($.map(data, function (item) {
                                return item.org_name;
                            }));

                            $("#loader").hide();
                        }
                    });
                },
                minLength: 3,
                select: function (event, ui) {
                    for (var i = 0; i < resultData.length; i++) {
                        if (resultData[i].org_name === ui.item.label) {
                            $("#org_id").val(resultData[i].id);
                            break;
                        }
                    }
                }
            });
        });

        $(document).ready(function () {
            var resultData;
            $('#org_group_name').autocomplete({

                source: function (query, result) {
                    $("#loader").show();
                    $.ajax({
                        url: "/org-group-autocomplete?query=" + query.term,
                        dataType: "json",
                        type: "GET",
                        success: function (data) {
                            resultData = data;
                            result($.map(data, function (item) {
                                return item.org_group_name;
                            }));

                            $("#loader").hide();
                        }
                    });
                },
                minLength: 3,
                select: function (event, ui) {
                    for (var i = 0; i < resultData.length; i++) {
                        if (resultData[i].org_group_name === ui.item.label) {
                            $("#org_group_id").val(resultData[i].id);
                            break;
                        }
                    }
                }
            });
        });


    </script>






</div>