<div xmlns:th="http://www.thymeleaf.org">


    <!-- PAGE TITLE -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" id="page-header">Графики</h1>
        </div>
    </div>


    <div class="row col-lg-12 col-md-12" style="margin-bottom: 20px">
        <form class="form-inline">

<!--            <button type="button" class="btn btn-success" onclick="operationsFormReset()">сброс</button>-->
            <input type="text" class="form-control" size="50" style="margin-right: 20px" placeholder="поиск орг..." id="org_name">
            <input type="hidden" value="0" id="org_id">

            <input type="text" id="daterange" class="form-control" size="25" style="margin-right: 20px" placeholder="укажите диапазон">

            <button type="button" class="btn btn-success" onclick="getChart()">показать</button>

        </form>
    </div>


    <!-- DATE RANGE HANDLER    -->

    <script type="text/javascript">
        $(function() {

            var start = moment().subtract(0, 'days');
            var end = moment();

            moment.updateLocale('en', {
                longDateFormat : {
                    L: "YYYY-MM-DD"
                }
            });

            function cb(start, end) {
                $('#daterange').html(start.format('YYYY-MM-DD') + '  -  ' + end.format('YYYY-MM-DD'));
            }

            $('#daterange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Сегодня': [moment(), moment()],
                    'Вчера': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Последние 7 дней': [moment().subtract(6, 'days'), moment()],
                    'Последние 30 дней': [moment().subtract(29, 'days'), moment()],
                    'Текущий месяц': [moment().startOf('month'), moment().endOf('month')],
                    'Прошедший месяц': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                locale: {
                    daysOfWeek : [
                        "Вс",
                        "Пн",
                        "Вт",
                        "Ср",
                        "Чт",
                        "Пт",
                        "Сб"
                    ],
                    monthNames : [
                        "Январь",
                        "Февраль",
                        "Март",
                        "Апрель",
                        "Май",
                        "Июнь",
                        "Июль",
                        "Август",
                        "Сентябрь",
                        "Октябрь",
                        "Ноябрь",
                        "Декабрь"
                    ]
                },
            }, cb);

            cb(start, end);

        });
    </script>



    <!-- CONTENTS -->
    <div class="row col-lg-12 col-md-12" id="contents">

        <!-- CHART BLOCK -->
        <div id="chartContainer" style="height: 370px; width: 99%;"></div>

    </div>


    <script>

        $(document).ready(function () {
            var resultData;
            $('#org_name').autocomplete({

                source: function (query, result) {

                    $.ajax({
                        url: "/org-autocomplete?query=" + query.term,
                        dataType: "json",
                        type: "GET",
                        success: function (data) {
                            resultData = data;
                            result($.map(data, function (item) {
                                return item.org_name;
                            }));
                        }
                    });
                },
                minLength: 3,
                select: function (event, ui) {
                    for (var i = 0; i < resultData.length; i++) {
                        if (resultData[i].org_name === ui.item.label) {
                            $("#org_id").val(resultData[i].org_id);
                            break;
                        }
                    }
                }
            });
        });


    </script>






</div>