
<div th:fragment="error_block" xmlns:th="http://www.thymeleaf.org" class="panel panel-default" id="alert-panel">



    <div class="panel-heading">
        <i class="fa fa-warning fa-fw"></i>
    </div>

    <div class="panel-body">
<!--        <div class="list-group" th:each="el : ${errors}">-->
<!--            <a href="#" class="list-group-item">-->
<!--                <i class="fa fa-warning fa-fw"></i> New Comment-->
<!--                <span class="pull-right text-muted small"><em>4 minutes ago</em></span>-->
<!--            </a>-->
<!--        </div>-->

    </div>



</div>