<div th:fragment="terminal_block" xmlns:th="http://www.thymeleaf.org">


    <!-- PAGE TITLE -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" id="page-header">Терминалы</h1>
        </div>
    </div>

    <!-- WIDGETS -->
    <div class="row" id="widgets">
        <div class="col-lg-6 col-md-6" id="org_form">
            <div style="margin-bottom:20px">
                <h4>Добавить терминал</h4>
                <form>

                    <script>

                        $(document).ready(function () {

                            $('#terminal_org_id').autocomplete({
                                events: {
                                    searchPost: function (resultFromServer) {

                                        //console.log(JSON.parse(resultFromServer));
                                        //console.log(resultFromServer);
                                        return JSON.parse(resultFromServer);
                                    }
                                }
                            });


                        })

                        $('#terminal_org_name').on('autocomplete.input', function (evt, item) {
                            //console.log(item);
                            //$('.basicAutoSelectSelected').html(JSON.stringify(item));
                        });


                        $(document).ready(function () {
                            var resultData;
                            $('#terminal_org_name').autocomplete({

                                source: function (query, result) {

                                    $.ajax({
                                        url: "/org-autocomplete?query=" + query.term,
                                        dataType: "json",
                                        type: "GET",
                                        success: function (data) {
                                            resultData = data;
                                            result($.map(data, function (item) {
                                                return item.org_name;
                                            }));

                                        }
                                    });
                                },
                                minLength: 3,
                                select: function (event, ui) {
                                    for (var i = 0; i < resultData.length; i++) {
                                        if (resultData[i].org_name === ui.item.label) {
                                            $("#terminal_org_id").val(resultData[i].org_id);
                                            break;
                                        }
                                    }


                                    // let id = resultData.filter(function (result) {
                                    //     console.log("RESULT : " + result.org_name);
                                    //     console.log("UI : ", ui.item.org_name);
                                    //     //return result.org_name === ui.item.org_name;
                                    //
                                    // });
                                    // console.log(id);
                                }

                            });
                        });

                    </script>
                    <input type="text" name="terminal_org_name" id="terminal_org_name"
                           placeholder="введите название организации" class="form-control"/><br>
                    <input type="hidden" name="terminal_org_id" id="terminal_org_id"/>
                    <!--                    <select class="form-control autoComplete1"-->
                    <!--                            name="terminal_org_id"-->
                    <!--                            data-url="/org-search"-->
                    <!--                            data-noresults-text="Ничего не найдено"-->
                    <!--                            autocomplete="off"-->
                    <!--                            id="terminal_org_id">-->
                    <!--                    </select>-->

                    <input type="text" name="terminal_tid" id="terminal_tid" placeholder="введите TID"
                           class="form-control" maxlength="8" minlength="8"/><br>
                    <input type="text" name="terminal_tsp" id="terminal_tsp"
                           placeholder="введите адрес установки/описание" class="form-control"/><br>
                    <button type="button" class="btn btn-success" onclick="terminalAddCheck()">добавить</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row col-lg-4 col-md-4" style="margin-bottom: 20px">
        <!--        <div class="col-lg-4 col-md-4">-->
        <form class="form-inline">


                <script> // SEARCH SCRIPT
                $(document).ready(function () {
                    var timer;
                    $('#terminal_search').keyup(function () {
                        var searchFor = $('#terminal_search').val().trim();
                        window.clearTimeout(timer);
                        if (searchFor.length > 4) {
                            //alert(searchFor);
                            //loading_show();
                            timer = setTimeout(function () {
                                $.ajax({
                                    url: "/terminal-search",
                                    cache: false,
                                    type: "POST",
                                    data: {
                                        searchFor: searchFor
                                    },
                                    success: function (text) {
                                        $("#terminal-panel-body").html(text);
                                        //loading_hide();
                                    }
                                });
                            }, 1000);
                        }
                    });
                });
                </script>
                <input type="text" class="form-control" placeholder="поиск..." id="terminal_search">
                <button type="button" class="btn btn-success" id="allBtn" th:value="${page.getTotalElements()}"
                        onclick="terminalShowAll()">все
                </button>
                <!--                             <span class="input-group-btn">-->
                <!--                                <button class="btn btn-success" type="button">все</button>-->
                <!--                            </span>-->


        </form>
    </div>

    <!-- CONTENTS -->
    <div class="row" id="contents">

        <!-- RIGHT PANEL OF CONTENTS -->
        <div class="col-lg-12 col-md-6">
            <div class="panel panel-default" id="alert-panel">
                <div class="panel-heading">
                    <i class="fa fa-list-alt fa-fw"></i>
                </div>

                <div class="panel-body" id="terminal-panel-body" style="max-height: 350px; overflow-y: auto">

                    <div class="table-responsive" th:replace="results/terminals-added :: terminals_added"></div>

                </div>
            </div>

        </div>

    </div>


</div>