<div xmlns:th="http://www.thymeleaf.org" th:fragment="terminal_edit_form_block" style="margin-bottom:20px" >
    <h4>Редактировать терминал</h4>
    <form th:each="el : ${terminal}">
        <script>

            $(document).ready(function () {

                $('#terminal_org_id').autocomplete({
                    events: {
                        searchPost: function (resultFromServer) {

                            //console.log(JSON.parse(resultFromServer));
                            //console.log(resultFromServer);
                            return JSON.parse(resultFromServer);
                        }
                    }
                });


            })

            $('#terminal_org_name').on('autocomplete.input', function (evt, item) {
                //console.log(item);
                //$('.basicAutoSelectSelected').html(JSON.stringify(item));
            });


            $(document).ready(function () {
                var resultData;
                $('#terminal_org_name').autocomplete({

                    source: function (query, result) {

                        $.ajax({
                            url: "/org-autocomplete?query=" + query.term,
                            dataType: "json",
                            type: "GET",
                            success: function (data) {
                                resultData = data;
                                result($.map(data, function (item) {
                                    return item.org_name;
                                }));

                            }
                        });
                    },
                    minLength: 3,
                    select: function (event, ui) {
                        for (var i = 0; i < resultData.length; i++) {
                            if (resultData[i].org_name === ui.item.label) {
                                $("#terminal_org_id").val(resultData[i].org_id);
                                break;
                            }
                        }


                        // let id = resultData.filter(function (result) {
                        //     console.log("RESULT : " + result.org_name);
                        //     console.log("UI : ", ui.item.org_name);
                        //     //return result.org_name === ui.item.org_name;
                        //
                        // });
                        // console.log(id);
                    }

                });
            });

        </script>

        <input type="text" th:value="${el.org_name}" name="terminal_org_name" id="terminal_org_name" class="form-control"/><br>
        <input type="hidden" name="terminal_org_id" id="terminal_org_id" th:value="${el.terminal_org_id}" />
<!--        <div class="form-row">-->
<!--            <div class="form-group col-md-8">-->
<!--                <input type="text" th:value="${el.terminal_tid}" name="terminal_tid" id="terminal_tid"  class="form-control"/>-->
<!--            </div>-->
<!--            <div class="form-group col-md-4">-->
<!--                <input class="form-check-input" type="checkbox" id="status">-->
<!--                <label class="form-check-label" for="status">-->
<!--                    ВКЛ.-->
<!--                </label>-->
<!--            </div>-->
<!--        </div>-->
        <div class="input-group">
            <input type="text" th:value="${el.terminal_tid}" name="terminal_tid" id="terminal_tid"  class="form-control"/>
            <input type="hidden" name="terminal_status" id="terminal_status" th:value="${el.terminal_status}">
            <span class="input-group-btn" th:switch="${el.terminal_status}">
                <button th:case="1" class="btn btn-success" type="button" id="terminal_status_btn" onclick="terminalStatus()">ВКЛ.</button>
                <button th:case="0" class="btn btn-warning" type="button" id="terminal_status_btn" onclick="terminalStatus()">ВЫКЛ.</button>
            </span>
        </div><br>
<!--        <input type="text" th:value="${el.terminal_tid}" name="terminal_tid" id="terminal_tid"  class="form-control"/><br>-->
        <input type="text" th:value="${el.terminal_tsp}" name="terminal_tsp" id="terminal_tsp"  class="form-control"/><br>
        <button type="button" class="btn btn-success" th:id="${el.id}" onclick="terminalEdit(this.id)">обновить</button>
    </form>
</div>